<blockquote>
<p style="text-align: justify;">Se entiende por TIC, aquellas tecnolog&iacute;as que tratan del estudio, desarrollo, implementaci&oacute;n, almacenamiento y distribuci&oacute;n de la informaci&oacute;n utilizando el hardware y el software m&aacute;s adecuados como sistema inform&aacute;tico.</p>
</blockquote>
<p>Tabla 1: Ranking pa&iacute;ses seleccionados (Educaci&oacute;n y TIC) Total pa&iacute;ses: 138</p>
<div class="table-responsive">
<table>
<tbody>
<tr>
<td>&nbsp;</td>
<td><strong>Colombia</strong></td>
<td><strong>Chile</strong></td>
<td><strong>Corea</strong></td>
<td><strong>Finlandia</strong></td>
</tr>
<tr>
<td>Acceso a Contenido Digitales</td>
<td>86</td>
<td>46</td>
<td>14</td>
<td>16</td>
</tr>
<tr>
<td>Porcentaje de hogares con PC</td>
<td>75</td>
<td>53</td>
<td>12</td>
<td>15</td>
</tr>
<tr>
<td>Acceso a Internet en Colegios</td>
<td>88</td>
<td>42</td>
<td>12</td>
<td>11</td>
</tr>
</tbody>
</table>
</div>
<p style="text-align: justify;">Nuestros alumnos han nacido en el mundo de las tecnolog&iacute;as de la informaci&oacute;n y la comunicaci&oacute;n (TIC). Una tecnolog&iacute;a nueva para un contenido eterno, porque la informaci&oacute;n y la comunicaci&oacute;n est&aacute;n en la base misma de cualquier aprendizaje. La escuela ha de incorporar todas aquellas tecnolog&iacute;as que favorezcan el aprendizaje de los alumnos, transformando la informaci&oacute;n y la comunicaci&oacute;n en aprendizaje y conocimiento. Adem&aacute;s, es imprescindible alfabetizar a los alumnos en el uso y dominio de los entornos b&aacute;sicos de las nuevas tecnolog&iacute;as que inciden en la comunicaci&oacute;n, la informaci&oacute;n y el aprendizaje, porque ya forman parte de la vida profesional, del entorno social.</p>
<p><img style="display: block; margin: 10px auto;" src="http://www.campillosparavientos.org/blog/tic-02.gif" alt="Alumnos en clases" width="300" height="226" /></p>
<h1 id="mcetoc_1bj92agvp0"><span style="color: #000000;">&iquest;Qu&eacute; es la web 2.0? &iquest;Qu&eacute; tiene que ver con la educaci&oacute;n?</span></h1>
<p style="text-align: justify;">Desde hace un poco m&aacute;s de un par de a&ntilde;os, se habla con gran asiduidad de la web 2.0. &iquest;de qu&eacute; se trata? El t&eacute;rmino expresa en c&oacute;digos inform&aacute;ticos una revoluci&oacute;n dentro de la misma Internet, un salto cualitativo desde la web 1.0 que caracteriz&oacute; a los a&ntilde;os 90.</p>
<ul>
<li style="text-align: justify;">Introduce a los alumnos en un contexto virtual de aprendizaje que facilita el desarrollo de competencias digitales.</li>
<li style="text-align: justify;">Ayuda a los profesores a mejorar el comportamiento de los alumnos en el aula, capturando datos que pueden compartir con los padres y la direcci&oacute;n del centro.</li>
<li style="text-align: justify;">Los padres pueden verificar el progreso de sus hijos en la escuela y gestionar una comunicaci&oacute;n m&aacute;s fluida con sus profesores y la direcci&oacute;n del centro.</li>
</ul>
<p style="text-align: justify;">Fue Tim O'Reilly quien en el 2004 cre&oacute; el t&eacute;rmino web 2.0 con el que se hace referencia a una nueva versi&oacute;n de la red de redes en la cual los usuarios se transforman en productores de contenidos accediendo a m&uacute;ltiples servicios en l&iacute;nea dise&ntilde;ados para favorecer la colaboraci&oacute;n y el intercambio.</p>