
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/*PROPIOS*/
 #screenshot{
	position:absolute;
	border:1px solid #ededed;
	background:#fff;
	padding:4px;
	display:none;
}
